/* Message Box */
:root {
	--color-message-box-bg: #FAEDCD;
	--color-message-box-fg: #5C6A72;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-message-box-bg: #4D4C43;
		--color-message-box-fg: #D3C6AA;
	}
}

.message-box {
	display: block;
	background-color: var(--color-message-box-bg);
	color: var(--color-message-box-fg);
	padding: 1em 0.625em; /* 16px 10px /16 */
}
.message-box ol {
	margin-top: 0;
}
